# OpenTelemetry Configuration
OTEL_SERVICE_NAME=passos-magicos-ml
OTEL_EXPORTER_OTLP_ENDPOINT=http://signoz-otel-collector:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_LOG_LEVEL=INFO

# SigNoz versions
SIGNOZ_VERSION=v0.101.0
SIGNOZ_OTELCOL_TAG=v0.129.8
